  
  <div class="user-box">
    <h2 class="title-lg mt-lg"><%= @user.name %></h2>

    <div class="mt">
      <%= render partial: 'users/user_avatar', locals: {user: @user} %>
    </div>

    <% if current_user == @user %>
      <p class="mt mb-lg">
        <%= link_to fa_icon('pencil'), edit_user_path(@user) %>
      </p>
    <% end %>

    <p class="text-bold mt mb-lg">@<%= @user.nickname %></p>

  </div>

  <% if @questions.any? %>
    <div class="container">
      <%= link_to 'Спроси меня', new_question_path(user_id: @user.nickname),
      class: 'button button-yellow' %>

      <p class="mt">
        <%= render 'questions/form', question: @question %>
      </p>
    </div>

    <div class="container mt-sm">
      <h2 class="title-lg">
        <% if @answered_questions.present?%>
          Ответил на <%= @answered_questions.count %> 
          <%= inclination(@answered_questions.count, 'вопрос', 'вопроса', 'вопросов') %>
          из <%= @questions.count %>
        <% else %>
          Вопросы без ответа:
        <% end %>
      </h2>
    </div>

    <% if current_user == @user && @unanswered_questions.present? %>
      <div class="container mt-sm">
        <h2 class="title-lg text-dark-red">
          Осталось ответить на 
          <%= @unanswered_questions.count %>
          <%= inclination(@unanswered_questions.count, 'вопрос!', 'вопроса!', 'вопросов!') %>
        </h2>
      </div>
    <% end %>

    <% @questions.each do |question| %>
      <div class="mt-sm container">
        <%= render question %>
      </div>
    <% end %>
  <% else %>
    <%= render partial: 'no_questions', locals: {user: @user} %>
  <% end %>
